body{
    background-color: lightblue;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    margin: 0;
}
.questionbox{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    height: 100px;
    margin: 20px auto;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(77, 76, 76);
}
.selectmodes button{
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

#easy{
    background-color: #8BC34A;
}
#medium{
    background-color: #FFC107;
}
#hard{
    background-color: #F44336;
}
.selectmodes button:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.optionsbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    height: 1000px;
}
.options button{
    background-color: #2196F3;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    width: 200px;
    height: 100px;
}